@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin hideMe{
    opacity: 0;
    transition: 300ms;
}

body{
    background-color: #c3cfe2;
    width: 100%;
    margin: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    overflow-x: hidden;
}
.hiddenBtn{
    display: none;
    background-color: white;
    color:  rgb(30, 40, 61);
    border-radius: 3px;
    padding: 8px;
    width: 90px;
    position: absolute;
    transform: translateX(220px-45px);
    z-index: 2;
    cursor: pointer;
    
}
.article{
    background-color: #fff;
    margin-left: 10px;
    width: 440px;
    border-radius: 25px;
    box-shadow: 1px 3px 10px 1px gray;
    overflow: hidden;
    line-height: 1em;
    &__paragraph{
        margin: 45px;
        opacity: 0.75;
        line-height: 1.8em;
    }
    &:hover{
        .article__paragraph{
            @include hideMe;
        }
        .footer{
            @include hideMe;
        }
        background-color: rgb(30, 40, 61);
        transition: 300ms;
        .hiddenBtn{
            display: block;
            transition: 300ms;
        }
    }
}
.footer{
    background-color: #686de0;
    margin-top: 90px;
    height: 180px;
    &__wrapper{
        transform: translateY(-70px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    &__img{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 6px solid white;
    }
    &__name{
        color: white;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin: 0;
        padding: 12px;
        
    }
    &__link{
        text-decoration: none;
        color: white;
        opacity: 0.5;
        font-size: 19px;
    }
}


@media (min-width: 768px){
    body{
        overflow: auto;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 1024px){
    body{
        overflow: auto;
        grid-template-columns: repeat(3, 1fr);
    }
}